<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddys.gemsell.mapper.AuthenticateMapper">
        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.ddys.gemsell.entity.Authenticate">
                    <id column="authenticate_id" property="authenticateId"/>
                    <result column="owner_id" property="ownerId"/>
                    <result column="owner_name" property="ownerName"/>
                    <result column="img_address" property="imgAddress"/>
                    <result column="treasure_name" property="treasureName"/>
                    <result column="treasure_code" property="treasureCode"/>
                    <result column="type_id" property="typeId"/>
                    <result column="type_name" property="typeName"/>
                    <result column="texture" property="texture"/>
                    <result column="weight" property="weight"/>
                    <result column="form_city" property="formCity"/>
                    <result column="auth_user_id" property="authUserId"/>
                    <result column="auth_user_name" property="authUserName"/>
                    <result column="result" property="result"/>
                    <result column="create_time" property="createTime"/>
                    <result column="success_time" property="successTime"/>
        </resultMap>

    <sql id="selectVo">
        select
        authenticate_id, owner_id, owner_name, img_address, treasure_name, treasure_code, type_id, type_name, texture, weight, form_city, auth_user_id, auth_user_name, result, create_time, success_time
       from authenticate a
    </sql>
    <select id="getListByCondition" parameterType="com.ddys.gemsell.entity.Authenticate" resultMap="BaseResultMap">
        <include refid="selectVo"></include>
         where 1=1
    </select>

</mapper>
