<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddys.gemsell.mapper.IndentMapper">
        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.ddys.gemsell.entity.Indent">
                    <id column="order_id" property="orderId"/>
                    <result column="user_id" property="userId"/>
                    <result column="user_name" property="userName"/>
                    <result column="good_id" property="goodId"/>
                    <result column="good_name" property="goodName"/>
                    <result column="price" property="price"/>
                    <result column="status" property="status"/>
                    <result column="create_time" property="createTime"/>
                    <result column="success_time" property="successTime"/><result column="create_time" property="createTime"/>
                    <result column="get_time" property="getTime"/><result column="create_time" property="createTime"/>
                    <result column="pay_time" property="payTime"/><result column="create_time" property="createTime"/>
                    <result column="cancal_time" property="cancalTime"/>
                    <result column="num" property="num"/>
                    <result column="total_price" property="totalPrice"/>
                    <result column="img_address" property="imgAddress"/>
                    <result column="address_id" property="addressId"/>

        </resultMap>

    <sql id="selectVo">
        select
        order_id, user_id, pay_time, cancal_time, get_time, user_name, good_id, good_name, price, status, create_time, success_time, num, total_price,img_address,address_id
       from indent a
    </sql>
    <select id="getListByCondition" parameterType="com.ddys.gemsell.entity.Indent" resultMap="BaseResultMap">
        <include refid="selectVo"></include>
         where 1=1
        <if test="goodName!=null and goodName!=''">
            and good_name like "%" #{goodName} "%"
        </if>
        <if test="userName!=null and userName!=''">
            and user_name like "%" #{userName} "%"
        </if>
        <if test="status!=null">
            and status = #{status}
        </if>
    </select>

</mapper>
