<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddys.gemsell.mapper.TypeMapper">
        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.ddys.gemsell.entity.Type">
                    <id column="type_id" property="typeId"/>
                    <result column="type_name" property="typeName"/>
                    <result column="parent_id" property="parentId"/>
        </resultMap>

    <sql id="selectVo">
        select
        type_id, type_name, parent_id
       from type a
    </sql>
    <select id="getListByCondition" parameterType="com.ddys.gemsell.entity.Type" resultMap="BaseResultMap">
        <include refid="selectVo"></include>
         where parent_id = '0'
    </select>

</mapper>
